$second-color:#001f54;
$bg:#fff;

$textColor:#0d1d50;
$textColorImage:#fff;
$textColorForm:#545454;
$textColorSub:#a39696;
$borderFormColor:#d2d2d2;

$borRad: 5px;
$paddindElem:20px;
$paddingForm:10px;
